body {
  display: flex;
  align-items: flex-end;
  font-family: sans-serif;
  -webkit-app-region: drag;
}

#info {
  padding: 16px;
}

#controls {
  display: flex;
  height: 32px;
  margin-top: 8px;
  margin-right: -4px;
  background-image: linear-gradient(33deg, #ea75ff, #5eade6);
  border: 2px solid black;
  overflow: hidden;
  border-radius: 8px;
  transition: all 0.2s;
}

#controls #play {
  width: 32px;
}

button {
  background: transparent;
  color: white;
  font-weight: bold;
  text-align: center;
  outline: none;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 12px;
  transition: all 0.2s;
  -webkit-app-region: none;
}

#controls button:hover {
  box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.4);
}

button.start {
  background-image: url("images/play.svg");
}

button.stop {
  background-image: url("images/stop.svg"),
    linear-gradient(33deg, #6b1628, #d827a3);
  box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.4);
}

button:disabled {
  background-color: #343434;
}

#play {
  border-right: 2px solid black;
}

#selectSourceBtn {
  flex-shrink: 0;
  width: 120px;
  text-overflow: ellipsis;
}

#timer {
  font-size: 2rem;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 2px black;
  margin-top: 8px;
  font-family: monospace;
}

.user_video_wrapper {
  width: 240px;
  height: 240px;
  overflow: hidden;
  border-radius: 50%;
  background-size: 102%;
}

.user_video_wrapper.hidden {
  visibility: hidden;
}

#user {
  width: 100%;
  height: 100%;
  object-position: center;
  flex-shrink: 0;
  object-fit: cover;
}

#status {
  font-style: italic;
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px 2px black;
  margin-top: 8px;
}

#toggleVideo svg {
  width: 24px;
  height: 24px;
  fill: #fff;
  filter: drop-shadow(1px 1px 2px black);
}

#toggleVideo:hover svg {
  fill: #5eade6 !important;
}

#toggleVideo #toggle-video-icon-off {
  display: block;
}
#toggleVideo.on #toggle-video-icon-off {
  display: none;
}

#toggleVideo #toggle-video-icon-on {
  display: none;
}

#toggleVideo.on #toggle-video-icon-on {
  display: block;
}
